@keyframes pisca{
    0%{ opacity: 0.2;}
    50%{ opacity: 1;}
    100%{ opacity: 0.2;}
}

body { 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.urna{
 background-color: #dbd5c9;
 padding: 30px;
    display: flex;

}


.tela{
    width: 550px;
    height: 380px;
    background: linear-gradient(to right, #e8e8e8, #c1c1c1);
    border: 3px solid rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    
}
.teclado{
    background-color: #403a3a;
    margin-left: 30px;
    
   
}
.teclado-linha{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: end;
    

}
.teclado-botao{
    width: 70px;
    height: 40px;
    background-color: black;
    color: white;
    margin: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 3px 3px 0px #555;
    cursor: pointer;
    text-transform: uppercase;
}

.teclado-botao.branco{
    background-color: white ;
    color: black;
    font-weight: normal;
    font-size: 16px;
}

.teclado-botao.corrige{
    background-color: #b91616 ;
    color: black;
    font-weight: normal;
    font-size: 16px;
}
.teclado-botao.confirma{
    background-color: green ;
    color: black;
    font-weight: normal;
    width: 90px;
    height: 50px;
    font-size: 16px;
}

.d-1{
    flex: 1;
    display: flex;
}
.d-1-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.d-1-1{
    height: 50px;
   
    display: flex;
    align-items: center;;
}


.d-1-2{
   
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-1-3{

   
    height: 50px;
    
}

.d-1-4{
    flex: 1;
   
    line-height: 30px;

}
.d-1-right{
    
    width: 90px;
}
.d-2{
    height: 50px;
    font-size: 14px;
    border-top: 2px solid rgb(170, 168, 168);
    padding-left: 10px;
}

.numero{
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 2px solid black;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    }

.pisca{
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.d-1-image{
    border: 1px solid black;
    background-color: white;
    text-align: center;
    font-size: 14px;
    
}

.d-1-image img{
    width: 100%;
}

.d-1-image.small{
    width: 80%;
    margin: auto;
    margin-top: 12px;
    font-size: 12px;}

    .aviso-grande{
        font-weight: bold;
        font-size: 40px;
    }

    .aviso-gigante{

        font-weight: bold;
        font-size: 70px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 140px
    }